body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.level1{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.level1 .header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 800px;
    color: #f9faf8;
    padding: 32px 100px;
}

.level1 .container{
    display: flex;
    padding: 32px 100px;
}

.level1 .container2{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    padding-right: 170px;
}

ul{
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

li{
    color: #E5E7EB;
    font-size: 18px;
}

.level1 .container .container2 .title{
    font-size: 42px;
    font-weight: 900px;
    color: #f9faf8;
}

.level1 .container .container2 .description{
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 10px;
}

button{
    background-color: #3882f6;
    width: 120px;
    height: 35px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

img{
    width: 560px;
    height: 240px;
    margin-right: 100px;
}

.level2{
    display: flex;
    flex-direction: column;
}

.level2 .container{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-around;
}

.level2 .title{
    text-align: center;

}
.ind img{
    width: 100px;
    height: 100px;
}

.ind{
    display: flex;
    flex-direction: column;
}

.level3{
    display: flex;
    flex-direction: column;
}

.level4{
    display: flex;
}

.level4 .container{
    display: flex;
    flex-direction: column;
}

